.backgroundFill {
    height: 500px;
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #77bed5 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #77bed5 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title {
    font-family: montserrat;
}

#mainPageSearchDiv {
    background: #e5ebff;
    border-style: groove;     
}

#mainPageMenuDiv {
    background: #e5ebff;
    border-style: groove;    
}

#mainPageClicksLeftDiv {
    background: #e5ebff;
    border-style: groove;   
}

#mainPageLogoutDiv {
    background: #e5ebff;
    border-style: groove;  
}

#additionalButton1 {
    background: #e5ebff;
    border-style: groove;     
}

#additionalButton2 {
    background: #e5ebff;
    border-style: groove; 
}

.largeButton {
    border-radius: 10px;
    height: 100px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    align-content: center;
}

.list-group-item:hover {
    background: #e5e5ff;
}

.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}